@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        font-family: Inter, system-ui, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.16px;

        color: #111111;
        background-color: #F5F0EC;
    }
}

@layer components {
    .navigation__link{
        @apply text-sm text-primary hover:text-accent focus:text-accent hover:underline focus:underline focus:outline-none underline-offset-2 decoration-2 decoration-accent transition-all;
    }

    .section-title{
        @apply mb-[16px] text-xs leading-normal tracking-[-0.12px] text-accent;
    }
    
    .section-subtitle{
        @apply mb-[32px] font-title text-5xl font-medium leading-tight tracking-[-1.44px]
    }

    .offer__item{
        @apply py-[48px] px-[40px] rounded-[28px] bg-white hover:shadow-lg shadow-accent transition-shadow;
    }

    .offer__btn{
        @apply flex items-center gap-2.5 max-w-max py-[4px] px-[6px] text-accent border-b border-accent hover:border hover:rounded-full focus:border focus:rounded-full focus:outline-none transition-all;
    }

    .footer__link{
        @apply text-sm tracking-[-0.14px] text-secondary hover:text-accent focus:outline-none focus:text-accent transition;
    }
}